/* First Screen */
#first .box {
    background-color: #FFFFFF;
    gap: 44px;
    border-radius: 2px;
}

#first .box h1 {
    text-transform: uppercase;
    color: var(--roxo-escuro);
}

#first .inputs {
    width: 100%;
}

#first .inputs input {
    background-color: #E8E8E8;
    padding: 16px 24px;
}

#first .inputs input::placeholder {
    font-weight: bold;
}

#first .box button {
    width: 100%;
    padding: 12px 0;
    border: none;
    background-color: #8481F4;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: -24px;
}