:root {
    --branco: #FFFFFF;
    --cinza: #E8E8E8;
    --AzulHeader: #474787;
    --hover: #bdbdf5;
    --roxo-escuro: #45415D;
}

/* NavBar */
header {
    background-color: var(--AzulHeader);
    height: 3em;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header, 
nav ul {
    display: flex;
    align-items: center;
}

nav {
    width: 100%;
}

nav ul {
    justify-content: space-around;
}

nav ul li a {
    color:var(--branco); 
    font-weight: bold;
    transition: all 0.4s;
}

nav ul li a:hover {
    color: var(--hover);
}

.inputs label {
    width: 100%;
    display: flex;
}

.box {
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 32px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 0 24px -10px #45415D;
}
 
.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.inputs input[type="text"],
.inputs input[type="password"] {
    border: none;
    width: 100%;
}

.box-remeber-me {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 12px 0;
}

.box-remeber-me {
    font-size: .8em;
}

.box-remeber-me label {
    display: flex;
    gap: 8px;
    color: #45415D;
}