/* NavBar */
header {
    background-color: #474787;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li a {
    color:#e0e2d8; 
    font-weight: bold;
    transition: all 0.4s;
}

nav ul li a:hover {
    color:#bdbdf5;
}

/* First Screen */
#first .box {
    background-color: #FFFFFF;
    gap: 44px;
    box-shadow: 0 0 16px 4px #45415D;
    border-radius: 2px;
}

#first .box h1 {
    text-transform: uppercase;
    color: #45415D;
}

#first .inputs {
    width: 100%;
}

#first .inputs input {
    background-color: #E8E8E8;
    padding: 16px 24px;
}

#first .inputs input::placeholder {
    font-weight: bold;
}

#first .box button {
    width: 100%;
    padding: 12px 0;
    border: none;
    background-color: #8481F4;
    color: #FFFFFF;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: -24px;
}

/* Second Screen */
#second .box {
    background-color: #FFFFFF;
    gap: 44px;
    box-shadow: 0 0 24px 4px #45415D;
    border-radius: 14px;
}

#second .box span {
    background-color: black;
    color: #FFFFFF;
    padding: 0px 8px;
    font-size: 1.5em;
    border-radius: 4px;
}

#second .box .inputs input[type="email"],
#second .box .inputs label {
    border: none;
    border-bottom: 1px solid #45415D;
    opacity: .6;
    padding: 10px 4px;;
}

#second .box .inputs label img {
    width: 24px;
}

#second .box button {
    width: 100%;
    border: none;
    background-image: linear-gradient(90deg,#64C5F8, #A73EF3);
    border-radius: 52px;
    color: #FFFFFF;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 12px 0;
    margin-bottom: 40px;
}

#second .box a {
    color:#45415D;
    font-size: .8em;
    margin-bottom: -32px;
}

/* Third Screen */
#third .box {
    background-image: linear-gradient(#7878F4, #A13BE5);
    gap: 44px;
    color: #FFFFFF;
    position: relative;
}

#third .box > img {
    background-color: #FFFFFF;
    width: 5em;
    border-radius: 64px;
    padding: 12px;
}

#third .box .inputs img {
    width: 15px;
    height: 15px;
    filter: invert(1);
}

#third .box .inputs input {
    background-color: transparent;
}

#third .box .inputs input::placeholder {
    color: #FFFFFF;
}

#third .box .inputs label {
    border: none;
    border-bottom: 1px solid #f1f1f1;
    padding: 10px 4px;;
    display: flex;
    gap: 8px;
}

#third .box > label {
    position: absolute;
    left: 33px;
    bottom: 190px;
    font-size: .7em;
    display: flex;
    gap: 8px;
}

#third .box button {
     width: 50%;
     padding: 12px 16px;
     border-radius: 20px;
     border: none;
}

#third .box > a {
    color: #FFFFFF;
}

/* Fourth Screen */
#fourth .box {
    background-image: linear-gradient(#4699DB, #3B7CD7);
    gap: 44px;
    color: white;
}

#fourth .box > img {
    width: 45%;
    background-color: #FFFFFF;
    border-radius: 100%;
    padding: 6px 6px;
}

#fourth .box .inputs label {
    background-color: #f1f1f1;
    padding: 12px 16px;
    border-radius: 64px;
    display: flex;
    gap: 10px;
}

#fourth .box .inputs label img {
    width: 20px;
    height: 20px;
    opacity: .7;
}

#fourth .box .inputs label input {
    border: none;
    background-color: transparent;
}

#fourth .box button {
    background-color: #323232;
    width: 100%;
    padding: 12px 16px;
    border-radius: 64px;
    border: none;
    color: #FFFFFF;
}

#fourth .box > a {
    color: #FFFFFF;
}