:root {
    --branco: #FFFFFF;
    --cinza: #E8E8E8;
    --AzulHeader: #474787;
    --hover: #bdbdf5;
    --roxo-escuro: #45415D;
}

/* NavBar */
header {
    background-color: var(--AzulHeader);
    height: 3em;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header, 
nav ul {
    display: flex;
    align-items: center;
}

nav {
    width: 100%;
}

nav ul {
    justify-content: space-around;
}

nav ul li a {
    color:var(--branco); 
    font-weight: bold;
    transition: all 0.4s;
}

nav ul li a:hover {
    color: var(--hover);
}

/* First Screen */
#first .box {
    background-color: #FFFFFF;
    gap: 44px;
    border-radius: 2px;
}

#first .box h1 {
    text-transform: uppercase;
    color: var(--roxo-escuro);
}

#first .inputs {
    width: 100%;
}

#first .inputs input {
    background-color: #E8E8E8;
    padding: 16px 24px;
}

#first .inputs input::placeholder {
    font-weight: bold;
}

#first .box button {
    width: 100%;
    padding: 12px 0;
    border: none;
    background-color: #8481F4;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: -24px;
}

/* Second Screen */
#second .box {
    background-color: var(--branco);
    gap: 44px;
    border-radius: 14px;
}

#second .box span {
    background-color: black;
    color: var(--branco);
    padding: 0px 8px;
    font-size: 1.5em;
    border-radius: 4px;
}

#second .box .inputs input[type="email"],
#second .box .inputs label {
    border: none;
    border-bottom: 1px solid var(--roxo-escuro);
    opacity: .6;
    padding: 10px 4px;;
}

#second .box .inputs label img {
    width: 24px;
}

#second .box button {
    background-image: linear-gradient(90deg,#64C5F8, #A73EF3);
    border-radius: 52px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 12px 0;
    margin-bottom: 40px;
}

#second .box a {
    color: var(--roxo-escuro);
    font-size: .8em;
    margin-bottom: -32px;
}

/* Third Screen */
#third .box {
    background-image: linear-gradient(#7878F4, #A13BE5);
    gap: 44px;
    color: var(--branco);
    position: relative;
}

#third .box > img {
    background-color: var(--branco);
    width: 5em;
    border-radius: 64px;
    padding: 12px;
}

#third .box .inputs img {
    width: 15px;
    height: 15px;
    filter: invert(1);
}

#third .box .inputs input {
    background-color: transparent;
}

#third .box .inputs input::placeholder {
    color: #FFFFFF;
}

#third .box .inputs label {
    border: none;
    border-bottom: 1px solid var(--branco);
    padding: 10px 4px;;
}


#third .box > label {
    position: absolute;
    left: 33px;
    bottom: 190px;
    font-size: .7em;
}

#third .box .inputs label,
#third .box > label {
    display: flex;
    gap: 8px;
}

#third .box button {
     width: 50%;
     padding: 12px 16px;
     border-radius: 20px;
     color: var(--roxo-escuro);
}

#third .box > a {
    color: var(--branco);
}

/* Fourth Screen */
#fourth .box {
    background-image: linear-gradient(#4699DB, #3B7CD7);
    gap: 44px;
    color: var(--branco);
}

#fourth .box > img {
    width: 45%;
    background-color: var(--branco);
    border-radius: 100%;
    padding: 6px 6px;
}

#fourth .box .inputs label {
    background-color: var(--branco);
    padding: 12px 16px;
    border-radius: 64px;
    display: flex;
    gap: 10px;
}

#fourth .box .inputs label img {
    width: 20px;
    height: 20px;
    opacity: .7;
}

#fourth .box .inputs label input {
    border: none;
    background-color: transparent;
}

#fourth .box button {
    background-color: #323232;
    padding: 12px 16px;
    border-radius: 64px;
}

#fourth .box > a {
    color: var(--branco);
}